{% extends 'travel_agency/base.html' %}
{% load multiply %}
{% block title %}Flights{% endblock %}


{% block body %}

<script type="text/javascript">

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
function select(id) {
    $.ajax({
      url: '{% url "select" %}',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ 'flight_id': id }),
      dataType: "json",
      success: function(resp) {
        $("div.panel-body."+resp.flight_id).toggle();
      }
    })
}
function purchase(id, travelers_count) {
    $.ajax({
      url: '{% url "purchase" %}',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ 'flight_id': id, 'travelers_count': travelers_count }),
      dataType: "json",
      success: function(resp) {
        $("[id='avail "+id+"']").replaceWith(resp.available);
      }
    })
}

</script>

{% if form or error_message %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Seach for your flights</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                        <a href="{% url 'flights' %}" class="btn btn-primary">Try Another Search</a>
                    {% else %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'travel_agency/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" name="button">Search</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="flights">
    <div class="container-fluid">
        <h2>Departure Flights</h2>
    </div>
    {% if non_stop_departure_flights %}
    {% for flight in non_stop_departure_flights %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3><a href="{% url 'review_company' company_name=flight.name %}">{{ flight.name }}</a></h3><br>
                            Cost: ${% multiply flight.cost travelers_count %} for {{ travelers_count }} person(s)<br>
                            {{ flight.flight_class }}<br>
                            {{ flight.city }}&rarr;{{ to_location }}<br>
                            {{ flight.from_date }}<br><br>
                            Available: <span id="avail {{flight.flight_id}}">{{ flight.available }}</span><br><br>
                            <button type="button" class="btn btn-primary" onclick="select({{ flight.flight_id }})">Select</button>
                            <div class="panel-body {{ flight.flight_id }}" style="display: none;">
                                <form>
                                    CC Number <input name="cc_num" type="text">
                                    Security Code <input name="security_code" type="text">
                                    <button type="button" class="btn btn-primary" onclick="purchase({{flight.flight_id}}, {{ travelers_count }})">Purchase</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    {% if one_stop_departure_flights %}
    {% for flight in one_stop_departure_flights %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Flight 1 of 2 <br>
                            <h3><a href="{% url 'review_company' company_name=flight.a_name %}">{{ flight.a_name }}</a></h3><br>
                            Cost: ${% multiply flight.a_cost travelers_count %} for {{ travelers_count }} person(s)<br>
                            {{ flight.a_flight_class }}<br>
                            {{ flight.a_city }}<br>
                            {{ flight.a_from_date }}<br><br>
                            Available: <span id="avail {{flight.a_flight_id}}">{{ flight.a_available }}</span><br>
                            <button type="button" class="btn btn-primary" onclick="select({{ flight.a_flight_id }})">Select</button>
                            <div class="panel-body {{ flight.a_flight_id }}" style="display: none;">
                                <form>
                                    CC Number <input name="cc_num" type="text">
                                    Security Code <input name="security_code" type="text">
                                    <button type="button" class="btn btn-primary" onclick="purchase({{flight.a_flight_id}}, {{ travelers_count }})">Purchase</button>
                                </form>
                            </div>
                        </div>
                        <div class="panel-body">
                            Flight 2 of 2 <br>
                            <h3><a href="{% url 'review_company' company_name=flight.b_name %}">{{ flight.b_name }}</a></h3><br>
                            Cost: ${% multiply flight.b_cost travelers_count %} for {{ travelers_count }} person(s)<br>
                            {{ flight.b_flight_class }}<br>
                            {{ flight.b_city }}<br>
                            {{ flight.b_from_date }}<br><br>
                            Available: <span id="avail {{flight.b_flight_id}}">{{ flight.b_available }}</span><br><br>
                            <button type="button" class="btn btn-primary" onclick="select({{ flight.b_flight_id }})">Select</button>
                            <div class="panel-body {{ flight.b_flight_id }}" style="display: none;">
                                <form>
                                    CC Number <input name="cc_num" type="text">
                                    Security Code <input name="security_code" type="text">
                                    <button type="button" class="btn btn-primary" onclick="purchase({{flight.b_flight_id}}, {{ travelers_count }})">Purchase</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    {% if non_stop_return_flights != None or one_stop_return_flights != None %}            
    <div class="container-fluid">
        <h2>Arrival Flights</h2>
    </div>
        {% if non_stop_return_flights %}
        {% for flight in non_stop_return_flights %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3><a href="{% url 'review_company' company_name=flight.name %}">{{ flight.name }}</a></h3><br>
                                Cost: ${% multiply flight.cost travelers_count %} for {{ travelers_count }} person(s)<br>
                                {{ flight.flight_class }}<br>
                                {{ flight.city }}&rarr;{{ return_to_location }}<br>
                                {{ flight.from_date }}<br><br>
                                Available: <span id="avail {{flight.flight_id}}">{{ flight.available }}</span><br><br>
                                <button type="button" class="btn btn-primary float-right" onclick="select({{ flight.flight_id }})">Select</button>
                                <div class="panel-body {{ flight.flight_id }}" style="display: none;">
                                    <form>
                                        CC Number <input name="cc_num" type="text">
                                        Security Code <input name="security_code" type="text">
                                        <button type="button" class="btn btn-primary" onclick="purchase({{flight.flight_id}}, {{travelers_count}})">Purchase</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        {% if one_stop_return_flights %}
        {% for flight in one_stop_return_flights %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Flight 1 of 2 <br>
                                <h3><a href="{% url 'review_company' company_name=flight.a_name %}">{{ flight.a_name }}</a></h3><br>
                                Cost: ${% multiply flight.a_cost travelers_count %} for {{ travelers_count }} person(s)<br>
                                {{ flight.a_flight_class }}<br>
                                {{ flight.a_city }}<br>
                                {{ flight.a_from_date }}<br><br>
                                Available: <span id="avail {{flight.a_flight_id}}">{{ flight.a_available }}</span><br><br>
                                <button type="button" class="btn btn-primary" onclick="select({{ flight.a_flight_id }})">Select</button>
                                <div class="panel-body {{ flight.a_flight_id }}" style="display: none;">
                                    <form>
                                        CC Number <input name="cc_num" type="text">
                                        Security Code <input name="security_code" type="text">
                                        <button type="button" class="btn btn-primary" onclick="purchase({{flight.a_flight_id}}, {{ travelers_count }})">Purchase</button>
                                    </form>
                                </div>
                            </div>
                            <div class="panel-body">
                                Flight 2 of 2 <br>
                                <h3><a href="{% url 'review_company' company_name=flight.b_name %}">{{ flight.b_name }}</a></h3><br>
                                Cost: ${% multiply flight.b_cost travelers_count %} for {{ travelers_count }} person(s)<br>
                                {{ flight.b_flight_class }}<br>
                                {{ flight.b_city }}<br>
                                {{ flight.b_from_date }}<br><br>
                                Available: <span id="avail {{flight.b_flight_id}}">{{ flight.b_available }}</span><br><br>
                                <button type="button" class="btn btn-primary" onclick="select({{ flight.b_flight_id }})">Select</button>
                                <div class="panel-body {{ flight.b_flight_id }}" style="display: none;">
                                    <form>
                                        CC Number <input name="cc_num" type="text">
                                        Security Code <input name="security_code" type="text">
                                        <button type="button" class="btn btn-primary" onclick="purchase({{flight.b_flight_id}}, {{ travelers_count }})">Purchase</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        {% endfor %}   
        {% endif %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a href="{% url 'flights' %}" class="btn btn-success">Return to searches</a><br><br>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}